
.banner-inside {
    background: url(../gallery/images/background1.jpg);
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

@media (max-width: 800px) {
    .banner-inside {
        margin-top: 0;
    }
}

.header {
    width: 750px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
}

.banner-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -50px;
}

@media (max-width: 600px) {
    .banner-header {
        font-size: 38px;
        margin: 0 25px;
    }
}

.banner-paragraph {
    font-size: 16px;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .banner-paragraph {
        margin: 0 20px;
    }
}

.banner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    
}

.main-banner__button {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #fb414e;
    padding: 12px 40px;
    margin: 40px 20px;
    transition: all 0.3s ease 0s;
}

@media (max-width: 415px) {
    .main-banner__button {
        font-size: 16px;
        padding: 12px 30px;
    }
}

@media (max-width: 355px) {
    .main-banner__button {
        padding: 12px 25px;
    }
}

.button-1 {
    background: #fb414e;
}

.button-1:hover {
    background: rgb(243, 240, 240);
    color: #fb414e;
}

.button-2:hover {
    background: #f5434e;
}



