
.gallery-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

@media (max-width: 800px) {
    .gallery-flex {
        margin-top: 80px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 20px;
    grid-column-gap: 20px;
    margin: 50px;
}

@media (max-width: 1500px) {
    .gallery {
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(3, 350px);
        grid-gap: 20px;
        grid-column-gap: 20px;
    }
}

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
    }
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 80px;
    }
}

@media (max-width: 800px) {
    .gallery {
        row-gap: 20px;
    }
}

@media (max-width: 730px) {
    .gallery {
        grid-template-columns: repeat(1,350px);
    }
}

.gallery-item {
    width: 350px;
    height: 350px;
    cursor: pointer;
}

@media (max-width: 1500) {
    .gallery-item {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 1175px) {
    .gallery-item {
        width: 250px;
        height: 250px;
    }
}

/* tutaj kod odpowiedzialny za wyświetlanie zdjęcia powiększonego */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8); /* wszystko oprócz wybranego zdjęcia będzie ciemniejsze */
    display: none; /* defaultowo lightbox jest wyłączony */
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }