
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    color: white;
    width: 100%;
}

ul {
    list-style: none;
}