
.squares {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 615px) {
    .squares {
        flex-wrap: wrap;
        margin-top: -30px;
    }
}

.square {
    height: 350px;
    width: 360px;;
    background: #202b30;
    margin: -60px 20px 50px;
    color: white;
}

@media (max-width: 1024px) {
    .square {
        height: 400px;
    }
}

@media (max-width: 830px) {
    .square {
        height: 450px;
    }
}

@media (max-width: 728px) {
    .square {
        height: 550px;
    }
}

@media (max-width: 615px) {
    .square {
        flex-basis: 70%;
        height: 350px;
        margin: 15px auto;
    }
}

@media (max-width: 440px) {
    .square {
        margin: 15px auto;
        height: 370px;
    }
}

@media (max-width: 375px) {
    .square {
        margin: 15px 10px;
        height: 400px;
    }
}


.one {
    background: #fb414e;
}

.square-img {
    width: 70px;
    margin-top: 40px;
    margin-left: 30px;
}

@media (max-width: 440px) {
    .square-img {
        width: 50px;
    }
} 

.square-header {
    text-transform: capitalize;
    margin-left: 30px;
}

@media (max-width: 750px) {
    .square-header {
        font-size: 25px;
    }
} 

.white-line {
    height: 3px;
    width: 43px;
    background: white;
    margin-left: 30px;
}

.square-paragraph {
    margin-left: 30px;
    margin-right: 30px;
}